.species {
  background-image: url("https://img.wallpapersafari.com/desktop/1366/768/77/43/65sJdG.jpg");

  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  grid-template-columns: 300px 300px 300px 300px;
  align-items: center;
  opacity: 100;
  padding: 20px;
}
.specie-img {
  opacity: 100;
  width: 300px;
  height: 160px;
}
.back-g {
  background-image: url("https://img.wallpapersafari.com/desktop/1366/768/77/43/65sJdG.jpg");
  background-repeat: no-repeat;
  background-size: 100;
  opacity: 100;
}
